<form 
    name="loginForm" 
    class="form-signin ng-cloak view-animate animated fadeInDownBig" 
    role="form" 
    data-ng-class="{ 'fadeOutUpBig' : ui.login.success }"
    data-ng-submit="doLogin(u, loginForm.$valid)" 
    data-ng-cloak 
    novalidate>

    <div class="login-brand">
        <img data-ng-src="{{app.logo_url}}" alt="{{app.name}}" class="brand-logo img-responsive" />
        <span class="brand-name" data-ng-bind-html="app.name"></span>
    </div>

    <input type="text" 
           name="username" 
           data-ng-model="u.username"
           data-ng-class="{'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine}"
           class="form-control" 
           placeholder="Usuario" 
           required 
           autofocus />

    <input type="password" 
           name="password" 
           data-ng-model="u.password"
           data-ng-class="{'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine}"
           class="form-control" 
           placeholder="Contrase&ntilde;a" 
           required />

    <p data-ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="text-danger">
        Por favor ingresar su nombre de usuario
    </p>
    <p data-ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="text-danger">
        Por favor ingresar su contrase&ntilde;a
    </p>
    <button 
        class="btn btn-lg btn-primary btn-block" 
        data-ng-disabled="loginForm.$invalid"
        type="submit">
        <span data-ng-hide="ui.login.processing" data-ng-bind-html="ui.login.button"></span>
        <span data-ng-show="ui.login.processing" class="center">
            <img alt="cargando" src="../../assets/images/sm-loading.gif?v=3" />
        </span>
    </button>

    <div class="row animated shake" data-ng-show="loginError.error" style="margin-top: 20px;">
        <div class="col-lg-12">
            <div class="alert alert-danger" data-ng-bind-html="loginError.message"></div>
        </div>   
    </div>
</form>