<div class="row ng-cloak" data-ng-cloak>
    <div class="col-lg-12">
        <h1>
            <a data-ng-click="goBack()" title="Volver">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <span>Cambiar Contrase&ntilde;a</span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="alert alert-info" data-ng-show="loggedUser.is_reset === '1'">
            La administraci&oacute;n cambi&oacute; su contrase&ntilde;a recientemente. Por favor actualize su contrase&ntilde;a por una
            que pueda recordar facilmente.
        </div>
        <form name="change_password" class="form_change_password ng-cloak" role="form" data-ng-submit="changePassword(pw, change_password.$valid)" data-ng-cloak novalidate>
            <div class="form-group" data-ng-class="{'has-error':change_password.old_pass.$invalid && !change_password.old_pass.$pristine}">
                <label class="control-label" for="pass">Contrase&ntilde;a Actual</label>
                <input
                    class="form-control"
                    style="margin-top: 3px; "
                    name="old_pass"
                    placeholder="Contraseña Actual"
                    required
                    autofocus
                    data-ng-model="pw.old_pass"
                    />
            </div>
            <div class="form-group" data-ng-class="{'has-error':change_password.pass.$invalid && !change_password.pass.$pristine}"
                 <label class="control-label" for="pass">Contrase&ntilde;a</label>
                <input
                    class="form-control"
                    style="margin-top: 3px; "
                    name="pass"
                    placeholder="Contraseña"
                    required
                    data-ng-model="pw.pass"
                    />
            </div>
            <div class="form-group" data-ng-class="{'has-error':change_password.repeat_pass.$invalid && !change_password.repteat_pass.$pristine && (pw.pass !== pw.repeat_pass)}"
                 <label class="control-label" for="repeat_pass">Repetir Contrase&ntilde;a</label>
                <input
                    class="form-control"
                    style="margin-top: 3px; "
                    name="repeat_pass"
                    placeholder="Repetir Contraseña"
                    required
                    data-ng-model="pw.repeat_pass"
                    />
            </div>
            <div class="form-group">
                <p data-ng-show="change_password.old_pass.$invalid && !change_password.old_pass.$pristine" class="text-danger">
                    Favor de escribir su contrase&ntilde;a actual
                </p>
                <p data-ng-show="change_password.pass.$invalid && !change_password.pass.$pristine" class="text-danger">
                    Favor de escribir una contrase&ntilde;a nueva
                </p>
                <p data-ng-show="change_password.repeat_pass.$invalid && !change_password.repeat_pass.$pristine" class="text-danger">
                    Favor de escribir nuevamente la contrase&ntilde;a
                </p>
                <p data-ng-show=" !change_password.pass.$pristine && !change_password.repeat_pass.$pristine && (pw.pass !== pw.repeat_pass)"class="text-danger">
                    Las contase&ntilde;as no coindicen
                </p>
                <button
                    style="margin-top: 10px;"
                    name="add"
                    type="submit"
                    class="btn btn-primary pull-right"
                    data-ng-disabled="change_password.$pristine">
                    Cambiar
                </button>
            </div>
        </form>
    </div>
</div>