<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" class="ng-app:timesheet" data-ng-app="timesheet" lang="en">
    <head>
        <base href="http://timesheet.insolpr.net">
        <title data-ng-bind-html="app.pageTitle"></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!--[if lt IE 9]>
            <script src="assets/js/libs/console-log.js"></script>
            <script src="assets/js/libs/ie9.min.js"> IE7_PNG_SUFFIX=".png"; </script>
            <script src="assets/js/libs/es5-shim.min.js"></script>
            <script src="assets/js/libs/html5shiv.js"></script>
            <script src="assets/js/libs/respond.min.js"></script>
            <script src="assets/js/libs/json3.min.js"></script>
            <script>
                    document.createElement('ng-include');
                    document.createElement('ng-pluralize');
                    document.createElement('ng-view');

                    // Optionally these for CSS
                    document.createElement('ng:include');
                    document.createElement('ng:pluralize');
                    document.createElement('ng:view');
            </script>
        <![endif]-->

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100|Ubuntu:300,400,700" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/animate.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/loading-bar.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="assets/js/libs/require.js"></script>
        <script type="text/javascript" src="assets/js/libs/jquery.js"></script>
        <script type="text/javascript" src="assets/js/libs/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/libs/date.js"></script>
        <script type="text/javascript" src="assets/js/libs/es-PR.js"></script>

        <!-- ANGULAR Libs -->
        <script type="text/javascript" src="assets/js/libs/angular.min.js"></script>
        <script type="text/javascript" src="assets/js/libs/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="assets/js/libs/angular-animate.min.js"></script>
        <script type="text/javascript" src="assets/js/libs/angular-route.min.js"></script>
        <script type="text/javascript" src="assets/js/libs/angular-cookies.min.js"></script>
        <script type="text/javascript" src="assets/js/libs/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script type="text/javascript" src="assets/js/libs/ngFx.min.js"></script>
        <script type="text/javascript" src="assets/js/app.js?v=3"></script>
        <script type="text/javascript" src="assets/js/app-directives.js?v=3"></script>
        <script type="text/javascript" src="assets/js/app-filters.js?v=3"></script>
        <script type="text/javascript" src="assets/js/app-routes.js?v=3"></script>
        <script type="text/javascript" src="assets/js/app-run.js?v=3"></script>

    </head>
    <body>
        <div class="navbar top-menu-bb" role="navigation" data-ng-if="isMainPage">
            <div class="container-fluid top-menu-bt">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#/dashboard" title="Volver al panel de control">
                        <img src="assets/images/logo-insol-icon.png" alt="Insol" class="logo img-responsive" />
                        <span class="navbar-brand"><strong>Time</strong>Sheet</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav" >
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-th"></span>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <!-- Admin menu -->
                                <li data-ng-show="isAdmin()"><a><strong>Administraci&oacute;n</strong></a></li>
                                <li data-ng-show="isAdmin()"><a href="#/admin/manage-clients">Manejar Clientes</a></li>
                                <li data-ng-show="isAdmin()"><a href="#/admin/manage-users">Manejar Usuarios</a></li>
                                <li data-ng-show="isAdmin()"><a href="#/admin/manage-reports">Manejar Reportes</a></li>
                                <li data-ng-show="isAdmin()"><a href="#/admin/manage-categories">Manejar Categorias</a></li>
                                <li data-ng-show="isAdmin()"><a href="#/admin/manage-settings">Manejar Opciones</a></li>
                                <li data-ng-show="isAdmin()" class="divider"></li>

                                <!-- Project Manager menu -->
                                <li data-ng-show="isPM()"><a href="#">Action</a></li>
                                <li data-ng-show="isPM()"><a href="#">Another action</a></li>
                                <li data-ng-show="isPM()"><a href="#">Something else here</a></li>
                                <li data-ng-show="isPM()" class="divider"></li>

                                <!-- User Menu -->
                                <li><a href="#/user/settings">Opciones</a></li>
                                <li><a href="#/report/consultant">Reportes</a></li>
                                <li><a href="#/logout" data-ng-click="doLogout()">Cerrar Sessi&oacute;n</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
                <p class="navbar-text navbar-right">Conectado como <strong data-ng-bind-html="loggedUser.fullname"></strong></p>
            </div>
        </div>
        <div class="container fx-fade-in" data-ng-class="{'main-container' : isMainPage}" data-ng-animate=" 'animate' " data-ng-view>

        </div>
        <div class="container" data-ng-if="isMainPage">
            <div class="row">
                <div class="col-lg-12 text-muted footer">
                    <div class="pull-left">
                        Version: {{app.version}}
                    </div>
                    <div class="pull-right ">
                        Todos los derechos reservados &copy; {{app.copy_year}} - {{app.company}} {{app.name}}
                    </div>
                </div>   
            </div>
        </div>
    </body>
</html>