<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" class="ng-app:timesheet" data-ng-app="timesheet" lang="en">
    <head>
        <base href="http://timesheet.insolpr.net/">
        <title data-ng-bind-html="app.name"></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!--[if lt IE 9]>
            <script src="assets/js/libs/console-log.js"></script>
            <script src="assets/js/libs/ie9.min.js"> IE7_PNG_SUFFIX=".png"; </script>
            <script src="assets/js/libs/es5-shim.min.js"></script>
            <script src="assets/js/libs/html5shiv.js"></script>
            <script src="assets/js/libs/respond.min.js"></script>
            <script src="assets/js/libs/json3.min.js"></script>
            <script>
                    document.createElement('ng-include');
                    document.createElement('ng-pluralize');
                    document.createElement('ng-view');

                    // Optionally these for CSS
                    document.createElement('ng:include');
                    document.createElement('ng:pluralize');
                    document.createElement('ng:view');
            </script>
        <![endif]-->

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:100|Ubuntu:300,400,700" />
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=4" />
        <link rel="stylesheet" type="text/css" href="bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css?v=4" />
        <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.css?v=4" />
        <link rel="stylesheet" type="text/css" href="assets/css/animate.css?v=4" />
        <link rel="stylesheet" type="text/css" href="assets/css/loading-bar.css?v=4" />
        <link rel="stylesheet" type="text/css" href="assets/css/angular-growl.min.css?v=4" />
        <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=4" />

        <!-- JAVASCRIPT -->

        <script type="text/javascript" src="assets/js/libs/pace.min.js?v=4"></script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/jquery.timepicker.min.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/bootstrap.min.js?v=4"></script>
        <script type="text/javascript" src="bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js?v=4"></script>
        <script type="text/javascript" src="bower_components/grids.min/index.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/date.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/es-PR.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/require.js?v=4"></script>
        <script type="text/javascript" src="assets/js/script.js?v=4"></script>

        <!-- ANGULAR Libs -->
        <script type="text/javascript" src="assets/js/libs/angular.min.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/angular-sanitize.min.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/angular-animate.min.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/angular-route.min.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/angular-cookies.min.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/ui-bootstrap-tpls-0.11.0.min.js?v=4"></script>
        <script type="text/javascript" src="assets/js/libs/angular-growl.min.js?v=4"></script>
        <script type="text/javascript" src="assets/js/app.js?v=4"></script>
        <script type="text/javascript" src="assets/js/app-helpers.js?v=4"></script>
        <script type="text/javascript" src="assets/js/app-directives.js?v=4"></script>
        <script type="text/javascript" src="assets/js/app-filters.js?v=4"></script>
        <script type="text/javascript" src="assets/js/app-routes.js?v=4"></script>
        <script type="text/javascript" src="services/api.js?v=4"></script>
        <script type="text/javascript" src="assets/js/app-run.js?v=4"></script>


    </head>
    <body>
        <!-- Growl Notifications Container -->
        <div data-growl></div>

        <div class="navbar navbar-default top-menu-bb" role="navigation" data-ng-if="ui.isMain">
            <div class="container-fluid top-menu-bt">

                <!-- ******************************************************************
                * header logo and responsive menu button
                ******************************************************************* -->

                <div class="navbar-header">

                    <!-- Logo -->
                    <a class="navbar-brand pointer" data-ng-click="goHome()" title="Volver al panel de control">
                        <img class="brand-logo" data-ng-src="{{app.logo_url}}" alt="{{app.name}}" />
                        <span class="brand-name" data-ng-bind-html="app.name"></span>
                    </a>

                    <!-- Button for off canvas navigation menu -->
                    <button type="button" class="navbar-toggle pointer" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- ******************************************************************
                * Off Canvas Menu
                ******************************************************************* -->

                <div class="navmenu navmenu-default navmenu-fixed-right navmenu-inverse offcanvas">
                    <a class="navmenu-brand pointer" data-ng-click="goHome()" title="Volver al Inicio">Inicio</a>
                    <ul class="nav navmenu-nav">
                        <!-- Project Manager menu -->
                        <li data-ng-show="userIs('manager')" class="dd-header">
                            <a>Manejador de Proyectos</a>
                        </li>
                        <li data-ng-show="userIs('manager')">
                            <a href="#/project_manager/" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">Manjerar Opciones</a>
                        </li>
                        <li data-ng-show="userIs('manager')" class="divider"></li>

                        <!-- User Menu -->
                        <li data-ng-show="userIsNot('visitor') && userIsNot('admin') && userIsNot('super_admin')">
                            <a href="#/user/" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">Configuraci&oacute;n</a>
                        </li>
                        <li data-ng-show="userIs('user')">
                            <a href="#/reports/consultant" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">Reportes</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#/logout" data-ng-click="doLogout()" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">Cerrar Sessi&oacute;n</a>
                        </li>

                    </ul>
                </div><!--/.navbar-offcanvas -->

                <!-- ******************************************************************
                * Regular Menu
                ******************************************************************* -->

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav" >
                        <li class="dropdown">
                            <a class="dropdown-toggle pointer" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-th"></span>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <li>
                                    <a class="pointer" data-ng-click="goHome()" title="Volver al Inicio">Inicio</a>
                                </li>

                                <!-- Project Manager menu -->
                                <li data-ng-show="userIs('manager')" class="dd-header"><a>Manejador de Proyectos</a></li>
                                <li data-ng-show="userIs('manager')"><a href="#/project_manager/">Manjerar Opciones</a></li>
                                <li data-ng-show="userIs('manager')" class="divider"></li>

                                <!-- User Menu -->
                                <li data-ng-show="userIsNot('visitor') && userIsNot('admin') && userIsNot('super_admin')"><a href="#/user/">Configuraci&oacute;n</a></li>
                                <li data-ng-show="userIs('user')"><a href="#/reports/consultant">Reportes</a></li>
                                <li><a href="#/logout" data-ng-click="doLogout()">Cerrar Sessi&oacute;n</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->

                <p class="navbar-text navbar-right">{{loggedUser.role_label}}: &nbsp; &nbsp;  <strong data-ng-bind-html="loggedUser.full_name"></strong></p>
            </div>
        </div>

        <!--        <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-info alert-dismissable separate10">
                                <strong>Atenci&oacute;n:</strong> El sistema est&aacute; bajo mantenimiento. Disculpen los inconvenientes. Gracias.
                            </div>
                        </div>
                    </div>
                </div>-->

        <!-- ******************************************************************
        * Main View of the application
        ******************************************************************* -->

        <div class="container" data-ng-class="{'main-container' : ui.isMain}" data-ng-view ></div>

        <!-- ******************************************************************
        * / Main View of the application
        ******************************************************************* -->

        <div class="container" data-ng-if="ui.isMain">
            <div class="row">
                <div class="col-lg-12 text-muted footer">
                    <div class="col-sm-12 col-sm-6 ">
                        Version: {{app.version}}
                    </div>
                    <div class="col-lg-12 scol-sm-6 right">
                        Todos los derechos reservados &copy; {{app.copy_year}} - {{app.company}} {{app.name}}
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>