<div class="row">
    <div class="col-lg-12">
        <h1>
            <a data-ng-click="goBack()" title="Volver" class="pointer">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <span>Configuraci&oacute;n de Projectos</span>
        </h1>
    </div>
</div>


<div data-ng-controller="projectController">
    <div class="row" >
        <div class="col-sm-5 separate20">
            <input type="text" 
                   name="_filter"
                   id="name"
                   data-ng-model="_filter"
                   class="form-control" 
                   placeholder="Filtrar "
                   autofocus />
        </div>
        <div class="col-sm-2 col-sm-offset-5 right separate20">
            <button 
                class="btn btn-primary" 
                data-toggle="modal" 
                data-target="#manage"
                data-ng-click="manage()">

                <span class="glyphicon glyphicon-plus"></span>
                <span>A&ntilde;adir Proyecto</span>

            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">


            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr class="table-header">
                            <th class="center w30">Projecto</th>
                            <th class="center w70">Sub Proyectos y/o Aplicaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="project_parent in app.project_parents| filter:_filter" class="">
                            <td>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <h4 data-ng-bind-html="project_parent.project_name" ></h4>
                                    </div>   

                                    <div class="col-lg-8">


                                        <div class="pull-right">
                                            <button class="btn btn-primary btn-sm" title="A&ntilde;adir sub-proyecto">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                            <span> | </span>
                                            <button class="btn btn-primary btn-sm" title="Editar Proyecto">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <button class="btn btn-danger btn-sm" title="Eliminar proyecto">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>

                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="panel panel-default" data-ng-repeat="sub in app.projects| filter:{parent_project_id: project_parent.id}">
                                    <div class="panel-heading">
                                        <span data-ng-bind-html="sub.name"></span> 
                                        <span class="glyphicon glyphicon-remove pull-right"></span>
                                        <span class="glyphicon glyphicon-pencil pull-right"></span>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
    <div data-ng-include src="'pages/admin/manage_project_modals.html'"></div>