<div class="row">
    <div class="col-lg-12">
        <h1>
            <a data-ng-click="goBack()" title="Volver">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <span>Configuraci&oacute;n de Usuarios</span>
        </h1>
    </div>
</div>
<div data-ng-controller="userController">
    <div class="row ">
        <div class="col-sm-5 separate20">
            <input type="text" 
                   name="_filter"
                   id="name"
                   data-ng-model="_filter"
                   class="form-control" 
                   placeholder="Filtrar "
                   autofocus />
        </div>
        <div class="col-sm-2 col-sm-offset-5 right separate20">
            <button 
                class="btn btn-primary" 
                data-toggle="modal" 
                data-target="#manageUser"
                data-ng-click="manageUser()">

                <span class="glyphicon glyphicon-plus"></span>
                <span>A&ntilde;adir Usuario</span>

            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="table-header">
                            <th class="center w45">Usuario</th>
                            <th class="center w20">Tipo</th>
                            <th class="center w15">Posici&oacute;n (Rol)</th>
                            <th class="center w5">Estatus</th>
                            <th class="center w5">Contrase&ntilde;a</th>
                            <th class="center w5"><span class="glyphicon glyphicon-pencil"></span></th>
                            <th class="center w5"><span class="glyphicon glyphicon-remove"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="user in app.users | filter:_filter" class="">
                            <td>
                                <h4>
                                    <span data-ng-bind-html="user.full_name" ></span>
                                    <small class="text-muted">(<span data-ng-bind-html="user.username"></span>)</small>
                                </h4>
                            </td>
                            <td>
                                <span data-ng-bind-html="user.ui.contract_label"></span>
                            </td>
                            <td>
                                <span data-ng-bind-html="user.ui.role_label"></span>
                            </td>
                            <td class="center">
                                <span data-ng-show="user.ui.no_change"  data-ng-bind-html="user.ui.active_label"></span>
                                <button data-ng-hide="user.ui.no_change" class="btn btn-block {{user.ui.active_class}}" data-ng-click="toggleEnable(user, $index)" >
                                    <span data-ng-hide="user.ui.loading" data-ng-bind-html="user.ui.active_label"></span>
                                    <span data-ng-show="user.ui.loading" class="center"><img src="../../assets/images/sm-loading.gif?v=3" /></span>
                                </button>
                            </td>
                            <td class="center">

                                <button data-ng-hide="user.ui.no_change" class="btn btn-block" data-ng-click="password_reset.manage(user)" data-toggle="modal" data-target="#resetPassword" >
                                    Reinicializar
                                </button>
                            </td>
                            <td class="center">
                                <button data-ng-hide="user.ui.no_change" class="btn" data-ng-click="manageUser(user, 'edit')" data-toggle="modal" data-target="#manageUser">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>
                            <td class="center">
                                <button data-ng-hide="user.ui.no_change" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete" data-ng-click="setUserToDelete(user)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
    <div data-ng-include src="'pages/admin/manage_user_modals.html'"></div>
</div>