<div class="row">
    <div class="col-lg-12">
        <h1>
            <a data-ng-click="goBack()" title="Volver">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <span>Opciones Globales</span>
        </h1>
    </div>
    <div class="col-lg-12">
        <div class="" data-ng-repeat="setting in appSettings" style="border-top: 1px solid #ddd; padding: 20px 0;">
            
            <form class="row" role="form" data-ng-submit="saveSetting(setting)">
                <div class="col-md-1">
                    <strong data-ng-bind-html="setting.key"></strong>
                </div>
                <div class="col-md-8">                     
                    <textarea class="form-control" id="textarea" name="textarea" data-ng-model="setting.values" style="height: 200px;"></textarea>
                </div>
                <div class="col-md-2">
                    <button type="submit" id="settingsSave" name="settingsSave" class="btn btn-primary">Grabar</button>
                </div>
            </form>

        </div>
    </div>
</div>