<div class="row date-bar ng-cloak" data-ng-cloak>   
    <div class="col-lg-12">
        <span data-ng-bind-html="date.calendarDate | date:'fullDate'" class="pull-right date-full" style="font-family: 'Roboto'; font-size: 200%;"></span>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">

        <h3>Calendario</h3>
        <datepicker ng-model="date.calendarDate" data-ng-change="date.setDate()" show-weeks="false" class="date-month"></datepicker>

    </div>
    <div class="col-lg-9" style="border-left: 1px solid #eee;">
        <div>
            <h3>Informaci&oacute;n del d&iacute;a <small class="text-muted">{{date.calendarDate| date:'shortDate'}}</small></h3>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li data-ng-repeat="day in workdays">
                    <a data-target="#day-part-{{day}}" role="tab" data-toggle="tab" data-ng-class="{ 'active' : $index === 0 }">{{day}}</a>
                </li>
                <li class="pull-right active active-add-hours" >
                    <button role="tab" data-toggle="tab" data-ng-click="addWorkDay()" class="btn btn-primary" title="A&ntilde;adir horarios de trabajo nuevos a este d&iacute;a">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div data-ng-repeat="day in workdays" data-ng-class=" {'active' : $index === 0} " class="tab-pane" id="day-part-{{day}}">
                    <div data-ng-include="'pages/dashboard/workday-form.html'"></div>
                    <hr class="divider"/>
                    <div data-ng-include="'pages/dashboard/tasks.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>