<div class="row" style="padding: 20px 0;">
    <div class="col-lg-12">
        <div class="btn-group pull-right" data-toggle="buttons">
            <label class="btn btn-xs btn-primary">
                <span>Vacaciones</span>
                <input type="radio" name="options" id="option1">
            </label>
            <label class="btn btn-xs btn-primary">
                <input type="radio" name="options" id="option2">
                <span>Enfermedad</span>
            </label>
        </div>
        <div class="pull-right">
            <span class="text-muted" style="padding-right: 10px;">Tipo de d&iacute;a: </span>
        </div>
    </div>
</div>
<div class="row" style="padding: 20px 0;">
    <div class="col-lg-6">
        <div class="row">
            <label class="col-md-4 control-label" for="client">Cliente {{day}}</label>
            <div class="col-md-8">
                <select id="client" name="client" class="form-control">
                </select>
            </div>
        </div>

        <div class="row">
            <label class="col-md-4 control-label" for="billable">Facturable</label>
            <div class="col-md-8">
                <label class="checkbox-inline" for="billable">
                    <input type="checkbox" name="billable" id="billable" value="1">
                    <span>Facturable</span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-6">

        <div class="form-group">
            <label class="col-md-4 control-label" for="client">Entrada</label>
            <div class="col-md-8">
                <timepicker data-ng-model="mytime" data-ng-change="changed()" data-hour-step="hstep" data-minute-step="mstep" data-show-meridian="ismeridian"></timepicker> 
            </div>
        </div>

        <!-- Multiple Checkboxes (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="checkboxes">Salida</label>
            <div class="col-md-8">
                <timepicker data-ng-model="mytime" data-ng-change="changed()" data-hour-step="hstep" data-minute-step="mstep" data-show-meridian="ismeridian"></timepicker>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary pull-right" type="submit" name="submit" id="submit">Grabar</button>
    </div>
</div>