<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 style="background-color: cornflowerblue; width: 75%;margin: 20px auto 0;padding: 10px 20px; border: 1px solid #ddd; border-bottom: none;">
            {{title}}
        </h1>
        <div style="width: 75%; margin: 0 auto 20px; border: 1px solid #ddd; padding: 20px; font-family: sans-serif;">


            <p>
                {{message}}
            </p>

        </div>

    </body>
</html>
